div{
   margin: 15px 15px 15px 15px;
   width:90%;
   max-width: 600px;
}

mat-form-field{
   width: 80%;
}

.pull-right{
   text-align: right;
}

button{
   margin: 2px 10px 5px 10px;
}

.error-message{
   padding: 5px 5px 5px 5px;
   background-color: silver;
}

mat-slider{
   width: 350px
}