<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rao's Bank</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    ******************************** Login Screen
    ********************************
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-spinner *ngIf="isLoading" class="center"></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <form
    #loginForm="ngForm"
    [formGroup]="loginFormGroup"
    (ngSubmit)="submitHandler()"
  >
    <div class="centre">
      <mat-card
        class="login-card mat-elevation-z5"
        fxLayout="column"
        fxLayoutGap="2%"
      >
        <div>
          <!-- Appearance: Outline -->
          <mat-form-field appearance="outline" fxFlexFill>
            <mat-label>User Name</mat-label>
            <input
              type="text"
              name="userName"
              formControlName="userName"
              matInput
              placeholder="Please enter the username"
            />
            <mat-hint>Enter user name</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <!-- Appearance: Outline -->
          <mat-form-field appearance="outline" fxFlexFill>
            <mat-label>Password</mat-label>

            <input
              [type]="hide ? 'password' : 'text'"
              matInput
              placeholder="Password"
              name="password"
              formControlName="password"
              required
            />

            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint>Password</mat-hint>
          </mat-form-field>
        </div>

        <div class="pull-right">
          <button mat-raised-button color="accent" (click)="handleSignUp()">
            SignUp
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>

          <!-- <div class="copyright" fxLayoutAlign="center center">
            &copy; Roa's Bank
          </div> -->
        </div>
      </mat-card>
    </div>
  </form>
</div>
