# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Prahlad\CaseStudy\GitHub\CaseStudy\InventoryManagement\.idea/dataSources/
/dataSources.local.xml
